{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Electro - HTML Ecommerce Template</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>


		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

		<!-- Custom stylesheet -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<style>
/* FIX category dropdown text */
select {
    color: #000 !important;
}

select option {
    color: #000 !important;
    background: #fff !important;
}
/* Category dropdown fix */
.header-search {
    overflow: visible !important;
}

.header-search select,
.header-search option {
    color: #000 !important;
    background: #fff !important;
}

.header-search select {
    appearance: auto !important;
    -webkit-appearance: menulist !important;
}

/* ===== FINAL DROPDOWN FIX ===== */

.fix-dropdown {
    position: relative !important;
    z-index: 9999 !important;
    overflow: visible !important;
}

.fix-dropdown select {
    position: relative !important;
    z-index: 9999 !important;
    color: #000 !important;
    background: #fff !important;
}

.fix-dropdown option {
    color: #000 !important;
    background: #fff !important;
}

/* Parent containers override */
.header,
.header-search,
.container,
.row {
    overflow: visible !important;
}

</style>

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> 87349 32020</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> mnpremiummobileaccessories@gmail.com</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> Alpha One Mall, Vastrapur, Ahmedabad</a></li>
        </ul>

       <ul class="header-links pull-right">


<li class="dashboard-dropdown">
    <a href="#" class="dashboard-link" onclick="toggleDashboard(event)">
        {% if user.is_authenticated and not user.is_staff %}
            <span class="dashboard-user">
                {% if user.userprofile.profile_image %}
                    <img src="{{ user.userprofile.profile_image.url }}"
                         class="header-profile-img">
                {% else %}
                    <img src="{% static 'images/profile.webp' %}"
                         class="header-profile-img">
                {% endif %}
                Hi, {{ user.username }}
            </span>
        {% else %}
            My Dashboard
        {% endif %}
    </a>

    <ul class="dashboard-menu" style="display: none;">
      {% if user.is_authenticated and not user.is_staff %}
            <li><a href="{% url 'my_profile' %}">My Profile</a></li>
            <li><a href="{% url 'my_address' %}">My Address</a></li>
            <li><a href="{% url 'order_list' %}">Order List</a></li>
            <li><a href="{% url 'order_status' %}">Order Status</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
</li>


    </div>
</div>
<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<h1 class="logo">Click 'n Call</h1>
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search fix-dropdown">
								
								<form method="get" action="{% url 'store' %}">
									 <select name="category" onchange="this.form.submit()" class="input-select">
        <option value="">All Categories</option>

        {% for cat in categories %}
       <option value="{{ cat.id }}">{{ cat.category_name }}</option>

        {% endfor %}
    </select>
									<input class="input" placeholder="Search here">
									<button class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<a href="{% url 'wishlist' %}">
										<i class="fa fa-heart-o"></i>
										<span>Your Wishlist</span>
										
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div>
									<a href="{% url 'cart' %}">
										<i class="fa fa-shopping-cart"></i>
										<span>Your Cart</span>
										
									</a>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
<div id="responsive-nav">
    <!-- NAV -->
    <ul class="main-nav nav navbar-nav">

        <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
            <a href="{% url 'index' %}">Home</a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'store' %}active{% endif %}">
            <a href="{% url 'store' %}">Shop</a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'cart' %}active{% endif %}">
            <a href="{% url 'cart' %}">Cart</a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'checkout' %}active{% endif %}">
            <a href="{% url 'checkout' %}">Checkout</a>
        </li>

        <li class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
            <a href="{% url 'contact' %}">Contact</a>
        </li>

    </ul>
    <!-- /NAV -->
</div>

				
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img" style="position:relative;height:200px;overflow:hidden;">
								<img src="{% static 'img/shop01.png' %}" alt=""  style="position:absolute;top:50%;left:50%;
                    width:100%;height:100%;
                    object-fit:cover;
                    transform:translate(-50%,-50%);">>

							</div>
							<div class="shop-body">
								<h3>Laptop<br>Collection</h3>
								<a href="{% url 'store' %}?category=Laptops" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img" style="position:relative;height:200px;overflow:hidden;">
								<img src="{% static 'img/shop03.png' %}" alt=""  style="position:absolute;top:50%;left:50%;
                    width:100%;height:100%;
                    object-fit:cover;
                    transform:translate(-50%,-50%);">>
							</div>
							<div class="shop-body">
								<h3>Accessories<br>Collection</h3>
								<a href="{% url 'store' %}?category=Accessories" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img" style="position:relative;height:200px;overflow:hidden;">
								<img src="{% static 'img/download.jfif' %}" alt=""   style="position:absolute;top:50%;left:50%;
                    width:100%;height:100%;
                    object-fit:cover;
                    transform:translate(-50%,-50%);">
							</div>
							<div class="shop-body">
								<h3>Mobile<br>Collection</h3>
								<a href="{% url 'store' %}?category=Mobile" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		{% if deal %}
<div id="hot-deal" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">

                    <ul class="hot-deal-countdown"
                        id="countdown"
                        data-end="{{ deal.end_time|date:'Y-m-d H:i:s' }}">

                        <li><div><h3 id="days">00</h3><span>Days</span></div></li>
                        <li><div><h3 id="hours">00</h3><span>Hours</span></div></li>
                        <li><div><h3 id="mins">00</h3><span>Mins</span></div></li>
                        <li><div><h3 id="secs">00</h3><span>Secs</span></div></li>

                    </ul>

                    <h2 class="text-uppercase">{{ deal.title }}</h2>
                    <p>{{ deal.subtitle }}</p>

                   <a class="primary-btn cta-btn"
   href="{% url 'hot_deal_products' deal.id %}">
   Shop Now
</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}



		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Top selling</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
									<li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
									<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
									<li><a data-toggle="tab" href="#tab2">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static 'img/product02.png' %}" alt="">
												
											</div>
											<div class="product-body">
												
												<h3 class="product-name"><a href="#">Headphone</a></h3>
												<h4 class="product-price">980.00 </h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static 'img/product07.png' %}" alt="">
												
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Phone</a></h3>
												<h4 class="product-price">980.00 </h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static 'img/product08.png' %}" alt="">
												
											</div>
											<div class="product-body">
												
												<h3 class="product-name"><a href="#">laptop</a></h3>
												<h4 class="product-price">980.00 </h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static 'img/product09.png' %}" alt="">
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Camera</a></h3>
												<h4 class="product-price">980.00 </h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static 'img/product01.png' %}" alt="">
											</div>
											<div class="product-body">
												
												<h3 class="product-name"><a href="#">Laptop</a></h3>
												<h4 class="product-price">980.00 </h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<!-- MAP SECTION -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center" style="margin-bottom:20px;">Our Location</h3>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14686.36893196473!2d72.51341385541991!3d23.038739599999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85744171813b%3A0x8f9d2f2596f85121!2sM%20N%20mobile%20accessories!5e0!3m2!1sen!2sin!4v1766840102335!5m2!1sen!2sin" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"
          width="100%"
          height="400"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>

      </div>
    </div>
  </div>
</div>
<!-- /MAP SECTION -->

		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>Alpha One Mall, Vastrapur, Ahmedabad</a></li>
									<li><a href="#"><i class="fa fa-phone"></i> 87349 32020</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>mnpremiummobileaccessories@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="#">Hot deals</a></li>
									<li><a href="#">Laptops</a></li>
									<li><a href="#">Smartphones</a></li>
									<li><a href="#">Cameras</a></li>
									<li><a href="#">Accessories</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->


<!-- jQuery Plugins -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
function toggleDashboard(event) {
    event.preventDefault(); // prevent page jump
    const menu = event.currentTarget.nextElementSibling; // get the <ul>
    if (menu.style.display === "block") {
        menu.style.display = "none";
    } else {
        menu.style.display = "block";
    }
}


</script>
<script>
const countdown = document.getElementById("countdown");

if (countdown) {
    const endDate = new Date(countdown.dataset.end.replace(" ", "T")).getTime();

    setInterval(() => {
        const now = new Date().getTime();
        const diff = endDate - now;

        if (diff <= 0) return;

        document.getElementById("days").innerText =
            Math.floor(diff / (1000 * 60 * 60 * 24));

        document.getElementById("hours").innerText =
            Math.floor((diff / (1000 * 60 * 60)) % 24);

        document.getElementById("mins").innerText =
            Math.floor((diff / (1000 * 60)) % 60);

        document.getElementById("secs").innerText =
            Math.floor((diff / 1000) % 60);

    }, 1000);
}
</script>

	</body>
</html>
